.cover {
    background: url("https://images.pexels.com/photos/162553/keys-workshop-mechanic-tools-162553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    width: 100%;
    top: -55px;
    position: relative;
  }
  
  .coverContent {
    background-color: rgba(20,20,20,0.8);
    box-sizing: border-box;
    color: #FFF;
    text-align:center;
    font-family: 'Abel', sans-serif;
    margin: 0 auto;
    position: relative;
    top: 280px;
    width: 70%;
  }